/* Global prose theme */
@layer utilities {
	.prose {
		@apply mx-auto;

		--tw-prose-body: var(--color-primary-900);
		--tw-prose-headings: var(--color-primary-900);
		--tw-prose-links: var(--color-warning-600);
		--tw-prose-bold: var(--color-primary-800);

		--tw-prose-hr: var(--color-primary-400);
		--tw-prose-quotes: var(--color-primary-800);
		--tw-prose-quote-borders: var(--color-primary-300);
		--tw-prose-th-borders: var(--color-primary-300);
		--tw-prose-td-borders: var(--color-primary-200);

		--tw-prose-code: var(--color-secondary-700);
		--tw-prose-pre-code: var(--color-primary-100);
		--tw-prose-pre-bg: var(--color-primary-900);

		--tw-prose-captions: var(--color-primary-600);
		--tw-prose-counters: var(--color-primary-600);
		--tw-prose-bullets: var(--color-primary-400);
	}
}
